img{
    height: 150px !important;
    width: 150px !important;
    border: black solid 1px;
    margin-bottom: 30px;
    margin-left: 30px;
}

nav {
    background-color: rgb(115, 60, 145);
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-size: 64px !important;
    color: black;
    text-align: center;
}

p{
    font-size: 20px;
}

.jumbotron p {
    font-size: 30px !important;
}

img{
    border: black solid 2px;
}

img:hover{
    border: gray solid 3px;
}

.App {
    background-color: white;
}

.jumbotron {
    background-color: rgb(255, 230, 0);
    border-bottom: black solid 2px;
}