img{
    height: 150px !important;
    width: 150px !important;
    border: black solid 1px;
    margin-bottom: 30px;
    margin-left: 30px;
}



h1{
    font-size: 64px !important;
    color: yellow;
    text-align: center;
}

p{
    font-size: 20px;
    color: rgb(33, 218, 33);
}

.jumbotron p {
    font-size: 30px !important;
    color: yellow;
}

img{
    border: black solid 2px;
}

img:hover{
    border: gray solid 3px;
}

.App {
    background-color: white;
}

.jumbotron {
    background-image: url("http://getwallpapers.com/wallpaper/full/2/b/c/360134.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}